<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="post">
          <h1 class="post-title">{{post.title}}</h1>
          <div class="post-content">
            {{post.content}}
          </div>
        </div>
        <div class="comments mt-4">
          <h2>Comments</h2>

          @for(comment of post.comments; track comment){
            <div class="comment">
              <p class="comment-author">{{comment.author}}</p>
              <p class="comment-content">{{comment.content}}</p>
            </div>
          }
          
        </div>
      </div>
    </div>
  </div>