<div class="container">
    <h1>{{getUsername()}}</h1>
    <div class="mb-1">
        <button class="btn btn-primary" (click)="toogleEditUser()">Edit User</button>
        @if(editUser){
            <form [formGroup]="userForm" (submit)="onSubmitUser()">
                <label>Username</label>
                <input type="text" formControlName="username" class="form-control">
                @if(editUserSubmitted && userForm.get('username')?.errors){
                    <div class="alert alert-danger">
                        Username is required.
                    </div>
                }
                <button class="btn btn-secondary mt-1">Save</button>
            </form>
        }
    </div>
    <div>
        <button class="btn btn-primary" (click)="toogleEditPassword()">Change Password</button>
        @if(editPassword){
            <form [formGroup]="passwordForm" (submit)="onSubmitPassword()">
                <label>Password </label>
                <input type="password" formControlName="password" class="form-control ">
                @if(editPasswordSubmitted && passwordForm.get('password')?.errors){
                    <div class="alert alert-danger">
                        Password is required.
                    </div>
                }
                <label>Repeat Password </label>
                <input type="password" formControlName="repeatPassword" class="form-control ">
                @if(editPasswordSubmitted && passwordForm.get('repeatPassword')?.errors){
                    <div class="alert alert-danger">
                        Repeat password is required.
                    </div>
                }
                @else if(editPasswordSubmitted && !isPasswordEqual()){
                    <div class="alert alert-danger">
                        Passwords need to be equal.
                    </div>
                }
                <button class="btn btn-secondary mt-1">Save</button>
            </form>
        }
    </div>
</div>
