/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.dropdown-menu {
  .dropdown-item:active {
    background-color: transparent;
    color: #ffffff;
  }
}

main {
  min-height: 85vh;
}