    <div class="container mt-4">
        <section class="about" id="about">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis, enim vel sodales volutpat, lorem
                ipsum aliquet velit, ut hendrerit nulla odio ut dolor. Quisque vulputate risus id lacus commodo, et rutrum
                arcu lacinia. Phasellus hendrerit diam at leo congue sollicitudin.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis, enim vel sodales volutpat, lorem
                ipsum aliquet velit, ut hendrerit nulla odio ut dolor. Quisque vulputate risus id lacus commodo, et rutrum
                arcu lacinia. Phasellus hendrerit diam at leo congue sollicitudin.</p>
        </section>
    </div>
