<div>
    <button class="btn btn-success mb-2" (click)="toggleExpandForm()" >New Tag</button>
@if(expandForm){
    <form [formGroup]="tagForm" (submit)="submit()">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" formControlName="name" placeholder="Tag Name">
          </div> 
          <div class="col">
            <button class="btn btn-primary">Save</button>
          </div>
          @if (submitted &&(tagForm.get('name')?.errors?.['required'] || tagForm.get('name')?.errors?.['minlength'])){
            <div class="alert alert-danger">
              Min length is 3.
            </div>
            }
            @else if(tagForm.get('name')?.errors?.['maxlength']){
              <div class="alert alert-danger">
               Max length is 15.
              </div>
            }
        </div>
      </form>
}
</div>