<div class="container">
  <h1>Posts Management</h1>
  <button class="btn btn-success" routerLink="/create-post">New Post</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (post of posts; track post) {
      <tr>
        <td>
          @if(post.comments.length > 0){
            <button class="btn btn-secondary" type="button" (click)="toggleComments(post.id?? '')">Expand</button>
          }
          
        </td>
        <td>{{ post.title }}</td>
        <td><button class="btn btn-warning" routerLink="/edit-post/{{ post.id }}">Edit</button></td>
        <td><button class="btn btn-danger" routerLink="/delete-post/{{ post.id }}">Delete</button></td>
      </tr>
      @if(isActive(post.id ?? '') && post.comments.length > 0){
        <tr>
          <td colspan="4">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" (click)="toggleComments(post.id ?? '')">
                    Comments
                  </button>
                </h5>
              </div>
              <div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Author</th>
                        <th>Content</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (comment of post.comments; track comment) {
                      <tr>
                        <td>{{ comment.author }}</td>
                        <td>{{ comment.content }}</td>
                        <td><button class="btn btn-danger" routerLink="/delete-comment/{{ comment.id }}">Delete</button></td>
                      </tr>
                      }
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </td>
        </tr>
      }
      
      }
    </tbody>
  </table>
</div>
